<!DOCTYPE html>
<html>
  <head>
	<title>Davies</title>
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap-2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>
            <a href="/">My Datomic Blog</a>
          </h1>
          <p class="lead">Simple Datomic Blog</p>
        </div>
      </div>
      <div class="flash"></div>
      <div class="content"></div>
   	  <div class="row footer">
        <div class="span12">
          A simple blog using Clojure and Datomic
        </div>
      </div>
    </div>
  </body>
</html>

