
<div class="post">

  <div class="row">
  	<div class="span12">
      <h2 class="title">The Blog Title</h2>
    </div>
  </div>

  <div class="row">
  	<div class="span12">
      <div class="well body"></div>
    </div>
  </div>

  <div class="row">
    <div class="span12">

      <ul class="comments"></ul>

      <div class="well">

        <h2>Post Comment</h2>

        <form method="post" action="" class="form-horizontal">

          <div class="control-group">
            <label class="control-label">Name:</label>
            <div class="controls">
              <input type="text" name="author" />
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Comment:</label>
            <div class="controls">
              <textarea name="message"></textarea>
            </div>
          </div>

          <div class="">
            <input type="submit" class="btn btn-primary" />
          </div>

        </form>

      </div>

    </div>
  </div>

</div>
